<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Flask React WebApp</title>
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">



    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#recipes-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('post.index') }}">Flask React WebApp</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="recipes-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('post.add_post') }}">Add</a></li>
            {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">

            {% if current_user.is_authenticated %}
                <li><a>Welcome</a></li>
            {% else %}
            {% from "_form_macros.html" import render_field %}
            <li class="dropdown" id="loginform">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
    			<ul id="login-dp" class="dropdown-menu">
    				<li>
    					 <div class="row">
    							<div class="col-md-12">
    								 <form class="form" role="form" method="post" accept-charset="UTF-8" id="login-nav">
                                             {{ form.csrf_token }}
                                             {{ render_field(form.email, placeholder="Email address") }}
                                             {{ render_field(form.password, placeholder="Password") }}
    										<div class="form-group">
    											 <button id="submit-btn" type="submit" class="btn btn-primary btn-block">Log in</button>
    										</div>
    								 </form>
    							</div>
    							<div class="bottom text-center">
    								New here ? <a href="{{ url_for('users.register') }}"><b>Join Us</b></a>
    							</div>
    					 </div>
    				</li>
    			</ul>
            </li>
            {% endif %}
            <span id="logout-section">
                {% if session.get('username') %}
                    <button id="logout">Logout</button>
                {% endif %}
            </span>

          </ul>
        </div><!--/.nav-collapse -->
      </div><!-- /.container -->
    </nav>

    <div id="alert-section">
        <!-- bootstrap alerts -->
    </div>

    <div class="container">
      <div class="content">

        <!-- flash messages -->
        {% for error_message in get_flashed_messages(category_filter=["error"]) %}
            <div class="alert alert-danger alert-dismissible">{{ error_message }}</div>
        {% endfor %}

        {% for success_message in get_flashed_messages(category_filter=["success"]) %}
            <div class="alert alert-success alert-dismissible">{{ success_message }}</div>
        {% endfor %}

        {% for info_message in get_flashed_messages(category_filter=["info"]) %}
            <div class="alert alert-info alert-dismissible">{{ info_message }}</div>
        {% endfor %}

        <!-- child template -->
        {% block content %}
        {% endblock %}

      </div>
      <div class="footer">
        <hr>
        <p>Flask React WebApp - 2016</p>
      </div>
    </div><!-- /.container -->

    <!-- scripts -->
    <script src="{{ url_for('static', filename='js/ajax-test.js') }}"></script>

  </body>
</html>
