{% extends "base.html" %}
{% from "_form_macros.html" import render_field %}

{% block content %}

<div class="user-registration">
  <div class="page-header">
    <h2>Log In</h2>
  </div>
    <form id="loginform" action="{{ url_for('users.login') }}" method="post">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.email, placeholder="Email address") }}
      {{ render_field(form.password, placeholder="Password") }}
    </dl>
    <button id="submit" class="btn btn-sm btn-success" type="submit" href="javascript:void();">Log In</button>
  </form>
  <br>
	<div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
	<div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
  <em>Need an account? </em><a href="/register">Signup!!</a>
</div>

<script src="{{ url_for('static', filename='js/ajax-test.js') }}"></script>

{% endblock %}
